pandas
numpy

python-dotenv

requests

pydantic

apache-airflow

snowflake-connector-python

snowflake-sqlalchemy

boto3

langchain

langchain-community

chromadb

ollama

fastapi

uvicorn

pytest

loguru